*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:linear-gradient(135deg,#2b1055,#7597de,#f5af19);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

}

.container{

width:700px;

max-width:90%;

background:rgba(255,255,255,.15);

backdrop-filter:blur(12px);

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.4);

}

h1{

font-size:48px;

color:#FFD700;

margin-bottom:20px;

}

p{

font-size:24px;

color:white;

margin-bottom:40px;

}

button{

padding:16px 45px;

font-size:22px;

border:none;

border-radius:50px;

background:#FFD700;

cursor:pointer;

font-weight:bold;

transition:.3s;

}

button:hover{

transform:scale(1.08);

}
