*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:linear-gradient(135deg,#3E1F92,#C2185B,#F9A825);

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}

.container{

    width:900px;

    max-width:90%;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(12px);

    border-radius:20px;

    padding:50px;

    text-align:center;

    box-shadow:0 15px 40px rgba(0,0,0,.35);

}

h1{

    font-size:50px;

    color:#FFD700;

}

.subtitle{

    margin:20px 0;

    font-size:26px;

    color:white;

}

button{

    background:#FFD700;

    color:black;

    border:none;

    padding:18px 45px;

    border-radius:50px;

    font-size:22px;

    cursor:pointer;

    font-weight:bold;

    transition:.3s;

}

button:hover{

    transform:scale(1.08);

}
